<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tr.com.berkaytutal.beslenmedanismani">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".Utils.GlobalVariables"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Utils.BaseDrawerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_base_drawer" />
        <activity android:name=".HomepageActivity" />
        <activity android:name=".AllListingsActivity" />
        <activity android:name=".AllUsersActivity" />
        <activity android:name=".ProgramSearchFilterActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".TrainerDetailPage" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ProgramDetailActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".BodyRates" />
        <activity android:name=".ProgramOverviewActivity" />
        <activity android:name=".MyProgramsActivity" />
        <activity android:name=".ProgramPlayActivity" />
        <activity android:name=".ProgramCommentsActivity" />

        <receiver android:name=".Utils.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Utils.AlertDialogActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity android:name=".AddMoneyActivity"></activity>
    </application>

</manifest>